/* CSS Styles */


.one{
  color: purple;
  background: url(IMG/art151_img4.jpeg) no-repeat center center fixed pink;
  background-size: cover;
}

.stanza1{
  background-color: pink;
  border: 10px ridge purple;
}

.stanzalast{
  background-color: pink;
  border: 10px ridge purple;
}

.stanza5{
  background-image: url(IMG/art151_img2.jpeg);
  background-repeat: no-repeat;
  background-size: 475px;
  background-position: left;
  border-left: 10px ridge purple;

}



.bone {

  font-family: 'Bonbon', cursive;
  font-size: 25px;
}






.two {
  font-family: 'Homemade Apple', cursive;
  font-size: 35px;
  color: white;
  background-color: black;
}

.creepy{
  height: 10%;
}

.stalk1 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk2 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk3 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk4 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk5 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk6 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk7 {
  background-image: url(IMG/art151_img5.jpeg);
}

.stalk8 {
  background-image: url(IMG/art151_img5.jpeg);
}


.three {
font-family: 'Cabin Sketch', cursive;
font-size: 25px;
background: url(IMG/art151_img10.jpeg) black;
background-size: 250px;
}



.four {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25px;
  background-image: url(IMG/art151_flowers2.gif);

}

.babyboy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.follow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.joyful {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.xoxo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.button3 {
  width: 250px;
}

.next {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.button4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.gearhead {
  background: pink;
  background-image: url(IMG/art151_3moving.gif);
}

.gear1 {
  background-image: url(IMG/art151_moving.gif);
}

.gear3 {
  background-image: url(IMG/art151_moving.gif);
}

.gear5 {
  background-image: url(IMG/art151_moving.gif);
}
